<% title [@product_item.title, "成都红宝石企业建站"].join('-') %>
<% meta_keywords [@product_item.title,"建站成功案例，案例展示，成都红宝石企业建站，红宝石网络"].join('-') %>
<% meta_description [@product_item.title,"成都红宝石企业网站建设专家，开发团队具有多年互联网从业经验，团队为企业提供策划、开发、推广、运维一站式服务！联系电话：15928661802"].join('-') %>


<h2><%=@product_item.title %></h2>
<div class="img-box">
  <%=image_tag @product_item.image_path %>
  <h5><%=@product_item.title %></h5>
  <%# other some words %>
</div>

<%= simple_format @product_item.description %>