
<form action="/shops" name="shop_form">
  <label>请输入餐厅名称：</label>
  <input type="input" name="shop_name" value="<%=params[:shop_name] %>" />
  <input type="submit" name="submit" value="搜索"/>
</form>
<br/>