<% title ["管理中心-乐活外卖"].join(' - ') %>
<% meta_keywords ["乐活外卖"].join(' - ') %>
<% meta_description ["乐活外卖"].join(' - ') %>

<style>
 #main_content{
   width: 100%;
 }
 #sidebar{
   width: 20px;
 }
</style>

<h2>区域经理管理中心</h2>

<div class="dashboard_section panel">
  <h3>快速导航</h3>
  <div class="panel_contents">
    <ul>
      <li><a href="/shops/new">添加餐厅</a></li>
      <li><a href="/shops">餐厅列表</a></li>
      <li><%= render :partial => 'shops/shop_search' %></li>
    </ul>
  </div>
</div>

<div class="dashboard_section panel">
  <h3>最新订单</h3>
  <div class="panel_contents">
    <%= render :partial => '/orders/order_list', :locals => {:orders => @orders }%>    
  </div>
</div>

<div class="dashboard_section panel">
  <h3>最近修改的餐厅</h3>
  <div class="panel_contents">
    <%= render :partial => '/shops/shop_list', :locals => {:shops => @shops} %>    
  </div>
</div>
