<html xmlns="http://www.w3.org/1999/xhtml"><!-- #BeginTemplate "/Templates/dental-main.dwt" --><!-- DW6 --><head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<meta http-equiv="Content-Language" content="en">
<script language="JavaScript" type="text/javascript" src="../../templates/js/tabs.js"></script>
 <script language="JavaScript" type="text/javascript" src="../../templates/js/menu.js"></script>



<link rel="stylesheet" type="text/css" href="../../style/global.css">

<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

  <!-- #BeginEditable "doctitle" --> 
<title>Disciplinary and Other Actions</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="Description" content=" Colorado-Department of Regulatory Agencies-Board of Dental Examiners">
<meta name="Keywords" content="Colorado,state,licensed,dental,dentist,dental assistant">
<meta name="author" content="State of Colorado - Department of Regulatory Agencies - Board of Dental Examiners">
<!-- #EndEditable -->

    <meta name="Keywords" content="DORA, Colorado, consumer protection, regulate, Professions, licensee Services, applicant services, complaints,  applicants, licensing, Disciplinary actions, Permits,  licensing information, licensing requirements, licensure, applications, laws, rules, policies, enforcement,  how to become licensed, registered, or certified, Certifications, Registration, Division of Registrations, Regulated, Regulations, occupational, occupations, consumers , Dental Hygienists, Dentists, Dental
">
    <style type="text/css">
<!--
.style1 {color: #FF0000}
-->
    </style>
<link type="text/css" rel="stylesheet" href="chrome-extension://cpngackimfmofbokmjmljamhdncknpmg/style.css"><script type="text/javascript" charset="utf-8" src="chrome-extension://cpngackimfmofbokmjmljamhdncknpmg/page_context.js"></script><style type="text/css"></style><script>window["_GOOG_TRANS_EXT_VER"] = "1";</script></head>

<body screen_capture_injected="true">
<div id="centerPage">
  <div id="topRightNav">
    <ul id="topRightNavList">
      <li><a href="http://www.colorado.gov">Colorado.gov</a></li>
    </ul>
  </div>
  <div id="headerLogo"><img src="../../images/logoColorado.gif" width="270" height="26" alt="Colorado.gov: Colorado's Official Website" title="Colorado.gov: Colorado's Official Website"></div>
  <div id="searchBar">
    <div id="searchForm">
      <form name="seek" method="GET" action="http://www.colorado.gov/search">
      <img src="http://test.colorado.gov/prototype/CISO/images/imgLiveHelp.gif" width="15" height="15" border="0" id="searchBarLiveHelp" alt="Live Help"><a href="http://www.colorado.gov/livehelp" style="text-decoration:none" target="_blank">Live
      Help</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://www.colorado.gov/search?access=p&amp;sort=date%3AD%3AL%3Ad1&amp;output=xml_no_dtd&amp;site=CO_dora&amp;ie=UTF-8&amp;oe=UTF-8&amp;client=CO_dora&amp;proxystylesheet=CO_dora&amp;ip=71.39.222.89&amp;proxycustom=&lt;ADVANCED/&gt;" style="text-decoration:none">
      <label for="searchBarBox">Advanced Search</label>
      </a>
      <input name="q" type="text" id="searchBarBox" value="Enter Search Here" size="20" width="20">
      <input id="searchBarSubmit" type="image" src="http://www.colorado.gov/cybersecurity/images/btnSearch.gif" alt="Search" width="60" height="15">
      <input type="hidden" name="sort" value="date:D:L:d1">
      <input type="hidden" name="output" value="xml_no_dtd">
      <input type="hidden" name="oe" value="UTF-8">
      <input type="hidden" name="ie" value="UTF-8">
      <input type="hidden" name="client" value="CO_dora" id="Hidden5">
      <input type="hidden" name="proxystylesheet" value="CO_dora" id="Hidden6">
      <input type="hidden" name="site" value="CO_dora" id="Hidden7">
      </form>
    </div>
  </div>
  <!--NO EDIT Ends Here-->
  <!--EDIT Begins Here-->
  <div id="headerImage"><img src="../images/headerGraphic.gif" alt="Board of Dental Examiners" width="747" height="82"></div>  
  <div id="contentBox-Spec">
<ul id="doranav" name="doranav">
                <li><a href="../../index.html"><em>Ask</em>DORA</a></li>

        <li><a href="#">About Us</a>
          <ul>
            <li><a href="../../dora_pages/AboutUs/2009DORAAccomplishments.pdf">Accomplishments</a></li>
            <li><a href="../../dora_pages/ads.htm">As Seen on CBS4</a></li>
            <li><a href="../../dora_pages/AgenciesBoards/DivisionsBoards.htm">Contact Information</a></li>
            <li><a href="http://www.gssa.state.co.us/announce/job%20announcements.nsf/ClassifiedByAgency?OpenView">Employment - Colorado State Job Opportunities</a></li>
            <li><a href="../../dora_pages/News/MediaKit.html">Executive Staff</a></li>
            <li><a href="#">Funding</a>
              <ul>
                <li><a href="../../dora_pages/AboutUs/10-11Budget.pdf">Budget</a></li>
                <li><a href="http://tops.state.co.us/toprpt/tops_deptsearchmain.htm">Expenditures</a></li>
                <li><a href="http://tops.state.co.us/toprpt/tops_revdeptsearchmain.htm">Revenues</a></li>
              </ul>
            </li>
            <li><a href="../../Holidays.html">Holiday Schedule</a></li>
            <li><a href="../../dora_pages/AboutUs/EDLetter.html">Letter from Executive Director</a></li>
            <li><a href="../../dora_pages/AboutUs/FY 09-10 Org Chart.pdf">Organizational Chart</a></li>
            <li><a href="../../dora_pages/AboutUs/Mission.html">Our Mission</a></li>
            <li><a href="../../dora_pages/PublicRecords.html">Public Records</a></li>
            <li><a href="../../dora_pages/strategicplan.pdf">Strategic Plan</a></li>
          </ul>
        </li>
        <li><a href="#">Divisions-Boards</a>
          <ul>

            <li><a href="../../dora_pages/Alerts.html">Alerts - Sign Up to Receive</a></li>
            <li><a href="http://www.colorado.gov/governor/boards-commissions.html">Apply to be on a Board</a></li>
            <li><a href="../../dora_pages/AgenciesBoards/Boards.htm">Boards in DORA - Members, Meetings and Notices</a></li>
            <li><a href="http://www.colorado.gov/cs/Satellite?c=Page&amp;childpagename=GovRitter/GOVRLayout&amp;cid=1185266451539&amp;pagename=GOVRWrapper&amp;rendermode=">Colorado's Boards and Commissions</a></li>
          <li><a href="../../dora_pages/AboutUs/CollectiveResource.html">Division Overviews</a></li>
          </ul>
        </li>
        <li><a href="#">Consumers</a>
          <ul>
            <li><a href="../../dora_pages/Alerts.html">Alerts - Sign Up to Receive</a></li>
            <li><a href="../../CheckDiscipline.htm">Check for Disciplinary Actions</a></li>
            <li><a href="../../dora_pages/Consumers/Assistance.html">Consumer Assistance and Tips</a></li>
            <li><a href="../../dora_pages/AboutUs/YourRights.html">Consumer Rights</a></li>
            <li><a href="../../dora_pages/Consumers/Events.html">Events</a></li>
            <li><a href="../../dora_pages/Complaint.htm">File a Complaint</a></li>
            <li><a href="../../dora_pages/Consumers/FindAnInstitution.htm">Find a Financial Institution</a></li>
            <li><a href="../../FAQs.html">Frequently Asked Questions</a></li>
            <li><a href="../../hppp/index.htm">Healthcare Professions Profiling System</a></li><li><a href="http://www.dora.state.co.us/pls/real/Ins_Comp_Ratio_Report.Home">Insurance Complaint Comparisons</a></li><li><a href="../../LawsRules.htm">Laws, Rules and Policies</a></li>
            <li><a href="../../dora_pages/Consumers/Publications.html">Publications</a></li>
            <li><a href="../../dora_pages/Consumers/ShoppingForRates-phone.html">Shop for Telephone Rates</a></li>
            <li><a href="../../dora_pages/ProfessionVerification.htm">Verify a License</a></li>
          </ul>
        </li>
        <li><a href="#">Businesses</a>
          <ul>
            <li><a href="../../dora_pages/Alerts.html">Alerts - Sign Up to Receive</a></li>
            <li><a href="../../ChangeAddress.htm">Change Address on File</a></li>
            <li><a href="../../NameChange.html">Change Name on File</a></li>
            <li><a href="../../CheckDiscipline.htm">Check for Disciplinary Actions</a></li>
            <li><a href="../../dora_pages/AgenciesBoards/DivisionsBoards.htm">Contact Information</a></li>
            <li><a href="../../dora_pages/Consumers/Events.html">Events</a></li>
            <li><a href="../../LawsRules.htm">Laws, Rules and Policies</a></li>
            <li><a href="../../Licensing.htm">Licensing - Requirements</a></li>
            <li><a href="../../NameChange.html">Name Change Request</a></li>
            <li><a href="../../OnLineServices.html">On-Line Services</a></li>
            <li><a href="../../RenewLicense.htm">Renew a License</a></li>
            <li><a href="../../DuplicateLicense.htm">Request a Duplicate License</a></li>
            <li><a href="../../dora_pages/Business/StartBusiness.html">Start a Business</a></li>
            <li><a href="../../dora_pages/ProfessionVerification.htm">Verify a License</a></li>
          </ul>
        </li>
        <li><a href="#">Occupations</a>
          <ul>
            <li><a href="../../dora_pages/Alerts.html">Alerts - Sign Up to Receive</a></li>
            <li><a href="../../ChangeAddress.htm">Change Address on File</a></li>
            <li><a href="../../NameChange.html">Change Name on File</a></li>
            <li><a href="../../CheckDiscipline.htm">Check for Disciplinary Actions</a></li>
            <li><a href="../../dora_pages/AgenciesBoards/DivisionsBoards.htm">Contact Information</a></li>
            <li><a href="../../hppp/index.htm">Healthcare Professions Profiling System</a></li>
            <li><a href="../../LawsRules.htm">Laws, Rules and Policies</a></li>
            <li><a href="../../Licensing.htm">Licensing - Requirements</a></li>
            <li><a href="../../NameChange.html">Name Change Request</a></li>
            <li><a href="../../OnLineServices.html">On-Line Services</a></li>
            <li><a href="../../RenewLicense.htm">Renew a License</a></li>
            <li><a href="../../DuplicateLicense.htm">Request a Duplicate License</a></li>
            <li><a href="../../dora_pages/ProfessionVerification.htm">Verify a License</a></li>
          </ul>
        </li>
        <li><a href="#">News</a>
          <ul>
            <li><a href="../../dora_pages/News/MediaKit.html">Media Kit</a></li>
            <li><a href="../../dora_pages/newsreleases/archive.html">News Release Archive</a></li>
            <li><a href="../../dora_pages/media.html">Sign Up for News Releases</a></li>
          </ul>
        </li>
        <li><a href="../../dora_pages/Espanol/sitemap.html"> Español</a> </li>
  </ul>
     <div id="breadcrumbs">
      <ul id="breadcrumbsList">
        <li><a href="../../index.html">Department Home</a></li>
        <li><a href="../../registrations/index.htm">Division Home</a></li>
        <li><a href="../index.htm">Board Home</a></li>
        <li></li>
        <li></li>
        <li></li></ul>
    </div>
    <div id="copyWide-NoNav">
      <p class="sectionTitle"><br><!-- #BeginEditable "banner" -->Disciplinary and Other  Actions <!-- #EndEditable --></p>
      <!-- #BeginEditable "text" --> 
            <p align="center"><font face="Arial, Helvetica, sans-serif" size="2"><b><a href="#current">Current 
              Board Actions</a> || <a href="#copies">Obtaining Copies of Board 
              Actions</a></b></font></p>
            <hr>
            <p><font color="002B51" face="Arial, Helvetica, sans-serif" size="3"><i><b><a name="current" id="current"></a>Current 
              Board Actions</b></i></font></p>
            <p><font face="Arial, Helvetica, sans-serif" size="2" color="#000000">THIS 
              ONLINE VERSION OF THE BOARD ACTIONS IS THE MOST CURRENT VERSION 
              AVAILABLE. However, this should not be relied upon as an official 
              record of action taken by the Dental Board. </font><font face="Arial, Helvetica, sans-serif" size="2">To 
              verify a license at any time, you may  search the <a href="https://www.colorado.gov/dora/licensing/">Automated 
              Licensure Information System Online - ALISON</a></font>.</p>
            <ul>
              <li><font face="Arial, Helvetica, sans-serif" size="2"><a href="Board Actions 7.07to12.11.pdf"><b>Current 
                Board Actions</b></a></font></li>
              <li><font face="Arial, Helvetica, sans-serif" size="2"><a href="Actions.pdf">Board 
              Actions From November 19, 1998, Through June  2007 </a></font></li>
              <li><font face="Arial, Helvetica, sans-serif" size="2"><a href="Actions97-98.pdf">Board 
                Actions From July 1, 1997, Through November 18, 1998</a></font></li>
              <li><font face="Arial, Helvetica, sans-serif" size="2"><a href="Actions95-97.pdf">Board 
                Actions From November 1, 1995, Through June 30, 1997</a></font></li>
            </ul>
            <p><font size="2" face="Arial, Helvetica, sans-serif"><i>Adobe Acrobat 
              Reader is required in order to view and print these materials. If 
              you do not have Adobe Acrobat Reader, <a href="http://www.adobe.com/products/acrobat/readstep2.html">download 
              the latest free version</a> directly from the Adobe website or <a href="../../library/pdfconversion.htm">convert 
              a document to text</a>.</i></font></p>
            <p align="center"><font face="Arial, Helvetica, sans-serif" size="2">[<a href="#top">Back 
              to top</a>]</font></p>
            <hr>
            <p align="left"><font face="Arial, Helvetica, sans-serif" size="2" color="002B51"><b><i><font size="3"><a name="copies" id="copies"></a>Obtaining 
              Copies of Board Actions</font></i></b></font></p>
            <p align="left"><font face="Arial, Helvetica, sans-serif" size="2"><b> 
              Q. Is it possible to get a copy of the disciplinary action taken 
              against a dentist?</b></font><br>
              <font face="Arial, Helvetica, sans-serif" size="2"> Yes.&nbsp; Disciplinary 
              actions taken against dentists are public information. &nbsp; </font><font face="Arial, Helvetica, sans-serif" size="2" color="#000000">Many 
              disciplinary actions can be viewed online via </font><font face="Arial, Helvetica, sans-serif" size="2"><b><a href="http://www.dora.state.co.us/doraimages/"><u> 
              Registrations Online Documents - ROD</u></a></b>.</font> 
              <font face="Arial, Helvetica, sans-serif" size="2">Alternatively, 
              you may provide a written request to the Board listing the name(s) 
              of the dentist(s) about whom you are inquiring.&nbsp; Your name 
              and address must be included in order for the Board to mail you 
      the requested documents.</font></p>
            <p><font face="Arial, Helvetica, sans-serif" size="2">&nbsp;<a name="can" id="can"><b>Can 
              you fax me a copy of the disciplinary actions?</b></a><br>
              The Board does not fax disciplinary action documents, but rather 
              mails them because most are lengthy.&nbsp; Please allow approximately 
              5-10 business days upon receipt in the Board office for processing 
      of your request.</font></p>
            <div align="center"><font face="Arial, Helvetica, sans-serif" size="2">[<a href="#top">Back 
              to top</a>]</font> <font face="Arial, Helvetica, sans-serif" size="2"> 
              </font> </div>
      <!-- #EndEditable -->
      <div align="right"><img src="../../dora_pages/images/Dora_Service_Mark (3).gif" alt="Consumer Protection" width="79" height="56"></div>
    </div>
    <!--EDIT Ends Here-->
    
  
  <!--PLEASE SELECT EITHER A DOUBLE OR SINGE FOOTER FOR YOUR LAYOUT-->
    <!--Single Double for contact, privacy, accessibility, copyright info-->
    <div id="footer">
      <div id="footerLine1">
        <p>1560 Broadway, Suite 1350, Denver, CO 80202 &nbsp;&nbsp;&nbsp;&nbsp;(303) 894-7800 - Phone &nbsp;&nbsp;&nbsp;(303) 894-7764 - Fax&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="../contact.htm">E-Mail</a>&nbsp;</p>
      </div>
      <div id="footerLine2">
        <ul id="footerLinks">
          <li><a href="mailto:webmaster@dora.state.co.us" target="_blank">Technical Assistance</a></li>
          <li><a href="/library/50-6_PrivacyPolicy.pdf" target="_blank">Privacy</a></li>
          <li><a href="http://www.colorado.gov/colorado/accessibility.html" target="_blank">Accessibility</a></li>
        </ul>
        <div id="footerRight"> ©
          <script type="text/javascript">
          var d = new Date()
            document.write(d.getFullYear())
        </script>2012
          State of Colorado,  Denver, CO</div>
      </div>
    </div>
  </div>
</div>


<!-- #EndTemplate -->
<div id="shadowMeasureIt"></div><div id="divCoordMeasureIt"></div><div id="divRectangleMeasureIt"><div id="divRectangleBGMeasureIt"></div></div><div id="window-resizer-tooltip" style="display: none; "><a href="#" title="Edit settings" style="background-image: url(chrome-extension://kkelicaakdanhinjdeammmilcgefonfh/images/icon_19.png); "></a><span class="tooltipTitle">Window size: </span><span class="tooltipWidth" id="winWidth">1920</span> x <span class="tooltipHeight" id="winHeight">1040</span><br><span class="tooltipTitle">Viewport size: </span><span class="tooltipWidth" id="vpWidth">1920</span> x <span class="tooltipHeight" id="vpHeight">550</span></div></body></html>