<script type="text/javascript">
  function initialize() {
    //--create map 
    var myLatlng = new google.maps.LatLng(<%=session[:location_point][0]%>, <%=session[:location_point][1]%>);
    var myOptions = {
      zoom: 18,
      center: myLatlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
    //----------------------------------------------end
    //--add info windows
    //see: http://gmaps-samples-v3.googlecode.com/svn/trunk/single-infowindow/single-infowindow.html
    var infoWindow = new google.maps.InfoWindow;
   
    google.maps.event.addListener(map, 'click', function() {
      infoWindow.close();
    });
    //-----------------------------------------------end

     //--json 
    $.getJSON('/welcome/map_data', function(data) {
      var items = [];

      //empty right list bar
      $('#side_bar_content').empty();
      
      $.each(data, function(key, val) {
        var val_arr = val.split('|');
        items.push('<li id="' + key + '"><a href="/shops/' + val_arr[0] + '">' + val_arr[1] + '</a></li>');

        var marker = new google.maps.Marker({
          position: new google.maps.LatLng(parseFloat(val_arr[2]), parseFloat(val_arr[3])),
          map: map,
          title: val_arr[1]
        });
        //add info windows listener
        google.maps.event.addListener(marker, 'click', function() {
          var marker = this;
          var latLng = marker.getPosition();
         //一下的是成功实现了‘加入收藏’功能代码
         // infoWindow.setContent('<h3>' + val_arr[1] + '</h3><div id="' + val_arr[0] + '" onClick="javascript:add_favorite(this.id);"><a id="' + val_arr[0] +'" class="happy_shop"><img src="/assets/favorite.gif"/>加到最爱</a></div>' +latLng.lat() + ', ' + latLng.lng() + ', ' );
          var str = '<h3>' + val_arr[1] + '</h3>'
          str = str + val_arr[4] + ', 试试电话订餐'
          str = str + '<br/>订餐电话：' + val_arr[5]
          infoWindow.setContent(str);
          infoWindow.open(map, marker);
        });
      });

      $('<ul/>', {
        'class': 'my-new-list',
        html: items.join('')
      }).appendTo('#side_bar_content');
    });

  }//end initialize

  google.maps.event.addDomListener(window, 'load', initialize);

  
</script>

<div id="map_canvas" style="width:99%; height:600px"></div>

<script language="javascript">
  function add_favorite(shop_id){
    //http://www.w3school.com.cn/jquery/jquery_html.asp
    var count = $('#favorite_count').html();
    $('#favorite_count').html(parseInt(count) + 1);

    //http://visionmedia.github.com/move.js/
    var add_favorite_count = move('#favorite_count')
      .set('color', 'red')
      .set('font-weight', '800')
      .set('font-size', '18px')
      .duration('2s')
      .scale(1)
      .end();
    setTimeout(function(){
      move('#favorite_count')
        .set('color', '#999999')
        .set('font-weight', '500')
        .set('font-size', '12px')
        .duration('2s')
        .scale(1)
        .end();
    }, 1200);

    move(shop_id)
      .set('background-color', '#888')
      .duration('2s')
      .set('opacity', 0)
      .then(add_favorite_count)
      .end();
  }
</script>
