//update count span
$("#shop_dish_count_<%= escape_javascript( @shop_dish.id.to_s ) %>").html("<%= session[:cart][params[:shop_id]][params[:shop_dish_id]][:count] || 1 %>");
$("#shop_dish_<%= escape_javascript( @shop_dish.id.to_s ) %>").css("background-color", "#ddd");

//update sidebar cart list
<%
  list_arr = ""
  session[:cart].each do |k, v|
    list_arr += "<h3>#{Shop.find(k).name}</h3>"
    v.each do |kk, vv|
      list_arr += "<li id='cart_shop_dish_#{kk}'>#{vv[:name].ljust(10, '一')} #{vv[:price] || '0.0' } x #{vv[:count] || 1 }&nbsp;&nbsp;<a href='/delete_cart?shop_id=#{k}&shop_dish_id=#{kk}' data-remote='true'>x</a></li>"
    end
  end
%>
$("#cart_list").html("<%= list_arr.html_safe%>");

//update cart_list_button_panel
$("#cart_list_button_panel").html('<a href="/clear_cart" data-remote="true">清空</a> &nbsp;&nbsp; <a href="/orders/new">生成订单</a>');

