//update sidebar cart list
$("#cart_list").html("<li>点击左侧的菜品，在这里下单，外卖自动送上门</li>")

//update shop_dish style, count style
$("li.shop_dish_item").css("background-color", "#fff");
$("span.shop_dish_count").html("");

//update button
 $("#cart_list_button_panel").html('');