//update sidebar cart list
$("#cart_list").html("<li>菜篮子清空了~</li>")

//update shop_dish style, count style
$("li").removeClass("curt").addClass("normal");
$(".din1").html("+");

//update button
 $("#cart_list_button_panel").html('');