//update count span
$("#shop_dish_count_<%= escape_javascript( @shop_dish.id.to_s ) %>").html("");
$("#shop_dish_<%= escape_javascript( @shop_dish.id.to_s ) %>").css("background-color", "#fff");

//update sidebar cart list
<%
  list_arr = ""
  session[:cart].each do |k, v|
    list_arr += "<h3>#{Shop.find(k).name}</h3>"
    v.each do |kk, vv|
      list_arr += get_dish_cart_li(k, kk, vv[:name], vv[:price], vv[:count])
    end
  end
%>
$("#cart_list").html("<%= list_arr.html_safe%>");

