<% title "乐活.成都, 外卖信息库" %>
<% meta_keywords "外卖,快餐,网上订餐,电话订餐,餐厅,美食,24小时外卖" %>
<% meta_description "网上订餐洋盘吧~ 想叫外卖了？就上成都乐活外卖。1分钟订餐，半小时等待，3000家餐厅，上万道美食，Happy.cd!" %>

<% unless params[:map].present? %>
  <% next_nav("地图展示", "/?map=g") %>
  <%=render :partial => 'has_out_food_shop_addresses'%>

  <% if @has_out_food_shop_addresses.size < 3 %>
    <%=render :partial => 'no_out_food_shop_addresses' %>
  <% end %>

  <% if @has_out_food_shop_addresses.size < 3 && @no_out_food_shop_addresses.size > 5%>
    <a id="pagination_ajax_title" href="javascript: void(0);">点击获取更多餐厅信息...</a>
  <% end %>

  <% if @has_out_food_shop_addresses.empty? && @no_out_food_shop_addresses.empty? %>
    <div style="height: 500px;">没有找到任何结果</div>
  <% end %>

<% else %>
  <% next_nav("返回", "/") %>
  <%= render :partial => 'map', :locals => {:shop_addresses => @shop_addresses} %>
<% end %>
