<% title ["联系我们", "乐活外卖"].join(' - ') %>
<% meta_keywords ["联系我们", "乐活外卖"].join(' - ') %>
<% meta_description ["联系我们", "乐活外卖，最成都的在线外卖订餐服务网站"].join(' - ') %>

  <% if page = Page.find_by_path_name(params[:t]) %>
     <%=page.body.html_safe unless page.body.blank?%>
  <% end %>

  <h3>提交您的信息</h3>
  <div class="wrapper">
    <%=render 'form' %>
  </div>
