<% title "乐活外卖.成都" %>
<% meta_keywords "成都外卖, 成都快餐, 网上订餐, 电话订餐, 餐厅,美食, 24小时外卖" %>
<% meta_description "网上订餐洋盘吧~ 想叫外卖了？就上乐活外卖。1分钟订餐，半小时等待，3000家餐厅，上万道美食，Happy!" %>

<script language = "javascript">
   jQuery(function() {
    return $('#address_addr').autocomplete({
      source: $('#address_addr').data('autocomplete-source'),
      minLength: 2,
      autoFocus: true,
      delay: 300
    });
  });
</script>

<div class="js_list"></div>
<div class="js_list2"></div>
<div class="js_rng">
  <p>今天你订外卖了嘛？</p>
  <p>还在为吃饭愁吗？有木有想换换口味?这里有上千家餐厅可以选择！</p>
  <p>很多人已经用上瘾了，你也试一次吧。 直接在线订餐啦！</p>
</div>

<div id="addr_form">
  <%  @address ||= Address.new %>
  <%= form_for(@address, :html =>{:class => "formtastic"}) do |f| %>
    <div class="tips">*请输入您所在的位置， 如：北大街88号天盛壹中心</div>
      <%= f.text_field :addr, data: {autocomplete_source: addresses_path}, :value => session[:location], :class => 'input_search_txt' %>
      <%= f.submit '  找外卖  ', :id => 'submit', :class => 'subit'%>
  <% end %>
</div>
