<% title "乐活外卖.成都" %>
<% meta_keywords "成都外卖, 成都快餐, 网上订餐, 电话订餐, 餐厅,美食, 24小时外卖" %>
<% meta_description "网上订餐洋盘吧~ 想叫外卖了？就上乐活外卖。1分钟订餐，半小时等待，3000家餐厅，上万道美食，Happy!" %>

<script language = "javascript">
   jQuery(function() {
    return $('#address_addr').autocomplete({
      source: $('#address_addr').data('autocomplete-source'),
      minLength: 2,
      autoFocus: true,
      delay: 300
    });
  });
</script>

<div id="addr_form">
  <%  @address ||= Address.new %>
  <%= form_for(@address, :html =>{:class => ""}) do |f| %>
      <%= f.text_field :addr, data: {autocomplete_source: addresses_path}, :value => session[:location], :class => 'input_search_txt' %>
      <%= f.submit '  找外卖  ', :id => 'submit', :class => 'subit'%>
  <% end %>
</div>
