// Place all the styles related to the addresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//for auto-complete input
ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    a {
      color: #000;
      display: block;
      padding: 3px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #FFFCB2;
    }
  }
}

//for address switch
.switch{
  color: red;
  font-weight: 700;
}

//address form
//http://localhost:3000/addresses/new
#head {
  float: left;
  width: 100%;
  position: relative;
  background-color: #CCC;
  padding: 0;
  margin: 0;
  clear: both;
}
#head #logo {
  background-color: #C00;
  font-family: "Comic Sans MS", cursive;
  font-size: 36px;
  color: #FFF;
  float: left;
  width: 180px;
  height: 80px;
  clear: both;
  text-align: center;
  display: block;
  vertical-align: bottom;
  margin: 0 auto;
  padding: 20px;
}
#head #addr_form {
  margin-left: 240px;
}
#new_address .tips {
  margin: 0;
  padding: 10px 0 0 0;
  color: #666;
}
#address_addr {
  color: #666;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}
#submit {
  font-size: 20px;
}