/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 * require_tree .
 * 
 *= require_self
 *= require token-input-facebook
 *= require active_admin
 *= require active_admin_form
 *= require_tree .
*/

.red{
  color: red;
}

/***override active_admin*******/
#footer{
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #CCC;
  border-bottom-color: #CCC;
}
/**ul li for shop dish list**/
ul{
  margin: 0px;
  padding: 0px 10px;
}
li{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

a.button {
  background: #7B8389;
  color: white;
  text-decoration: none;
  padding: 6px 10px 4px 10px;
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
a.button_del {
  background: #ccc;
  color: white;
  text-decoration: none;
  padding: 1px 4px;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
/***********side bar help***************/
#help_sidebar_content{
  display: none;
}