/************this style only for layouts/application2 ************/

/************for auto-complete input*******/
ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  background: green;
}
.ui-autocomplete li {
    background-color: #090;
    border-top: solid 1px #DDD;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    }

.ui-autocomplete li a {
      color: #fff;
      display: block;
      padding: 8px;
    }

.ui-autocomplete li a.ui-state-hover, a.ui-state-active {
      background-color: #CC3333;
    }
  
/******flashs *******/
.flash {
  background: #f7f1d3;
  background: -webkit-gradient(linear, left top, left bottom, from(#f7f1d3), to(#f5edc5));
  background: -moz-linear-gradient(-90deg, #f7f1d3, #f5edc5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f7f1d3, endColorstr=#f5edc5);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f7f1d3, endColorstr=#f5edc5);
  text-shadow: #fafafa 0 1px 0;
  border-bottom: 1px solid #eee098;
  color: #cb9810;
  font-weight: bold;
  font-size: 1.1em;
  line-height: 1.0em;
  margin-bottom: 10px;
  padding: 13px 30px 11px;
}
.flash.flash_notice {
  background: #dce9dd;
  background: -webkit-gradient(linear, left top, left bottom, from(#dce9dd), to(#ccdfcd));
  background: -moz-linear-gradient(-90deg, #dce9dd, #ccdfcd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#dce9dd, endColorstr=#ccdfcd);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#dce9dd, endColorstr=#ccdfcd);
  border-bottom: 1px solid #adcbaf;
  color: #416347;
}
.flash.flash_error {
  background: #f5e4e4;
  background: -webkit-gradient(linear, left top, left bottom, from(#f5e4e4), to(#f1dcdc));
  background: -moz-linear-gradient(-90deg, #f5e4e4, #f1dcdc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f5e4e4, endColorstr=#f1dcdc);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f5e4e4, endColorstr=#f1dcdc);
  border-bottom: 1px solid #e0c2c0;
  color: #b33c33;
}

/* BASIC RESET */
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input{margin:0; padding:0;}

/* HTML ELEMENTS */
body {
  background-color:#F6F8F7;
}

/* COMMON CLASSES */
.break { clear:both; }
.index_flash{ 
  width: 960px;
  margin:0 auto; 
}
/* HEADER */
#header { height:600px;}
.headerimg { background-position: center top; background-repeat: no-repeat; width:100%; height:600px; position:absolute; }

/* NAVIGATION */
#nav-outer {
  height:110px;
  padding-top:11px;
  position:relative;
  background: #FFECD9;
}
#navigation { 
  height:100px; 
  width:960px; 
  margin:0 auto; 
  background-image:url("/assets/logo2.png");
  background-position:top left; 
  background-repeat:no-repeat; 
}

/* SEARCH */
#search {
  float:left;
  padding:10px;
  margin-left: 220px !important;
  margin-left: 120px;
}
#searchtxt { padding:3px; width:150px; }
#searchbtn { border:1px solid #eee !important; background-color:#CD2B3A; color:#eee; padding:3px; margin-left:5px; }

.subit{
  background:url(/assets/index_happy.png) no-repeat; 
  text-indent:-999em; 
  border:none;
  background-position:-457px -280px;
  width:138px;
  height:73px; 
  float:left;
}
.subit:hover{
  background-position:-603px -280px; 
  cursor:pointer;
}
.input_search_txt{
  background: url(/assets/index_happy.png) no-repeat 0 -281px !important;
  background: #fff;
  width:445px;
  height:66px;
  line-height:66px;
  border:none !important;
  border: 2px;
  padding:6px;
  font-family:"微软雅黑";
  font-weight:600;
  float:left;
  font-size: 2em;
  color: #090;
 }

/* MENU */
#menu { position:relative; top:85px; }
#menu ul { list-style:none; }
#menu ul li { display:inline; font-variant:small-caps; font-size:12px; }
#menu ul li a { color:white; text-decoration:none; font-weight:bold; padding-right:20px; }
#menu ul li a:hover { text-decoration:underline; }

/* HEADER TEXT */
#headertxt { width:960px; margin:0 auto; clear:both; position:relative; top:74px; }
#firstline { background-image:url("/assets/index/mask.png"); color:#333; font-size:36px; line-height: 20px; padding: 20px; float:left; display:block; }
#secondline { background-image:url("/assets/index/mask.png"); color:#CD2B3A; text-decoration:none; line-height: 30px; font-size:60px; padding: 20px; float:left; display:block; clear:both; }
#secondline:hover { text-decoration: none; color:#7F000C; }

.pictured { background-color:#CC3333; color:#FFF; font-size:12px; padding:9px 16px; text-transform:uppercase; float:left; display:block; clear:both; margin-top:10px; }
.pictured a { font-size:16px; font-style:italic; letter-spacing:0; text-transform:none; color:#FFF; text-decoration:none; }
.pictured a:hover { text-decoration:underline; }

/* CONTROLS */
.btn { height:32px; width:32px; float:left; cursor:pointer; }
#back { background-image:url("/assets/index/btn_back.png"); }
#next { background-image:url("/assets/index/btn_next.png"); }
#control { background-image:url("/assets/index/btn_pause.png"); }

/* HEADER HAVIGATION */
#headernav-outer { position:relative; top:400px; margin:0 auto; width:960px; }
#headernav { padding-left:864px; }

/* CONTENT */
#content {
  color:#575757;
  background-color:#F6F8F7;
}
#content p { padding:10px 20px; font-size:16px; width:960px; margin:0 auto; }
#content p a { text-decoration:none; color:#CD2B3A; }
#content p a:hover { text-decoration:underline; color:#7F000C; }

#footer{ 
  border-top: 1px solid #C6CCCC; 
  margin: 80px 0 0 0;
  padding: 20px 10px;
  overflow:hidden;  
  width:920px; 
  margin:0 auto;
  color: #ccc;
  text-align: center; 
  font-size: 110%;
}
#footer a{ 
  color: green;
  margin: 0 10px;
}

/*########confirm modal **********/
#confirm {display:none;}

/* Overlay */
#confirm-overlay {background-color:#eee; cursor:wait;}

/* Container */
#confirm-container {height:430px; width:600px; font: 16px/22px 'Trebuchet MS', Verdana, Arial; text-align:left; background:#fff; border:4px solid #7cc130;}
#confirm-container .header {height:30px; line-height:30px; width:100%; background:url(/assets/confirm/header.gif) repeat-x; color:#fff; font-weight:bold;}
#confirm-container .header span {padding-left:8px;}
#confirm-container .message {color: green; font-size:14px; margin:0; padding:12px 4px 12px 8px;}
#confirm-container .buttons {line-height:26px; width:160px; float:right; padding:10px 8px 0;} 
#confirm-container .buttons div {float:right; margin-top: -12px; margin-left:4px; width:70px; height:26px; color:#666; font-weight:bold; text-align:center; background:url(/assets/confirm/button_green.gif) repeat-x; border:1px solid #7cc130; cursor:pointer;} 
#confirm-container .buttons .no {background:url(/assets/confirm/button.gif) repeat-x;} 
#confirm-container a.modal-close,
#confirm-container a.modal-close:link,
#confirm-container a.modal-close:active,
#confirm-container a.modal-close:visited {text-decoration:none; font-weight:bold; position:absolute; right:10px; top:2px; color:#fff;}
#confirm-container a.modal-close:hover {color:#ccc;}
/****/
#map_wrapper{
  text-align: center;
  width: 98%;
  height: 300px;
}