@charset "utf-8";

/***********************/
#slideshow1 {
  width: 640px;
  height: 20px;
}
.error{color: red;}
.red{color: red; font-size: 14px; font-weight: bold;}
.green{color: #669933; font-size: 14px; font-weight: bold;}
.light_green{color: #7CC130}
  
.rand_1{background-color: #fff;}
.rand_2{background-color: #fff;}
.rand_3{background-color: #fff;}
.rand_4{background-color: #fff;}
.rand_5{background-color: #fff;}
.rand_6{background-color: #fff;}
.rand_7{background-color: #fff;}
.rand_8{background-color: #fff;}
.rand_9{background-color: #fff;}
.rand_10{background-color: #fff;}

.rate{
  background: url(/assets/ico-happy.png) no-repeat;
  background-position:0 -304px;
  width: 85px;
  height: 15px;
  float: left;
  display: block;
}
.rate_0{ background-position:0 -395px;}
.rate_1{ background-position:0 -375px;}
.rate_2{ background-position:0 -358px;}
.rate_3{ background-position:0 -340px;}
.rate_4{ background-position:0 -322px;}
.rate_5{ background-position:0 -304px;}

.flash {
  background: #f7f1d3;
  background: -webkit-gradient(linear, left top, left bottom, from(#f7f1d3), to(#f5edc5));
  background: -moz-linear-gradient(-90deg, #f7f1d3, #f5edc5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f7f1d3, endColorstr=#f5edc5);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f7f1d3, endColorstr=#f5edc5);
  text-shadow: #fafafa 0 1px 0;
  border-bottom: 1px solid #eee098;
  color: #cb9810;
  font-weight: bold;
  font-size: 1.1em;
  line-height: 1.0em;
  margin-bottom: 10px;
  padding: 13px 30px 11px;
}
.flash.flash_notice {
  background: #dce9dd;
  background: -webkit-gradient(linear, left top, left bottom, from(#dce9dd), to(#ccdfcd));
  background: -moz-linear-gradient(-90deg, #dce9dd, #ccdfcd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#dce9dd, endColorstr=#ccdfcd);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#dce9dd, endColorstr=#ccdfcd);
  border-bottom: 1px solid #adcbaf;
  color: #416347;
}
.flash.flash_error {
  background: #f5e4e4;
  background: -webkit-gradient(linear, left top, left bottom, from(#f5e4e4), to(#f1dcdc));
  background: -moz-linear-gradient(-90deg, #f5e4e4, #f1dcdc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f5e4e4, endColorstr=#f1dcdc);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f5e4e4, endColorstr=#f1dcdc);
  border-bottom: 1px solid #e0c2c0;
  color: #b33c33;
}

/*************layout**********************/
#active_admin_content {
  width: 960px;
  overflow:hidden;  
  margin:0 auto;
}
#active_admin_content #main_content_wrapper {
  margin: 0 auto;
}
#main_content_wrapper{ background:#FFF;}
#active_admin_content #main_content_wrapper #main_content {
  margin-right: 277px;
}
#active_admin_content #sidebar {
  float: left;
  width: 277px;
  margin-left: -277px;
  color:#fff;
}
.sidebar_content{
  padding: 0 10px;
}
.without_sidebar #main_content_wrapper #main_content {
  margin-right: 0;
}
#main_content_wrapper{background:url(/assets/shop-bg.jpg) repeat-y 680px 0;}
#main_content{ background:#FFF;}
#header_wrapper{
  background: #EDEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C6CCCC;
}
#header{ 
  margin: 0; 
  padding: 8px !important;
  padding: 18px;
}
#footer{ 
  border-top: 1px solid #C6CCCC; 
  margin: 80px 0 0 0;
  padding: 20px 10px;
  overflow:hidden;  
  width:920px; 
  margin:0 auto;
  color: #ccc;
  text-align: center; 
  font-size: 105%;
}
#footer a{ 
  color: green;
  margin: 0 10px;
}
/* index*/
.hx_t{ margin:0 auto; color:#fff; overflow:hidden;}
.hi_p{ float:left;}
.right_p{ 
  float:right; 
  margin: 0 !important;
  margin: -4px 0 0 0;
  width: 500px;
  text-align: right;
}
.right_p a{display:inline-block;}
.switch{color: #F00; font-weight: 600; margin: 0 4px; letter-spacing: 0.2em;}
.sinaweibo,.txweibo{background:url(/assets/ico-happy.png) no-repeat; vertical-align:middle; text-indent:9999em;}
.sinaweibo{ background-position:0 -1px; height:18px; width:18px; margin-left:5px; }
.txweibo{background-position:0 -23px; height:18px; width:18px; margin-left:5px;}
#logo a{ height:59px; width:160px; display:block; text-indent:-9999em; background:url(/assets/index_happy.png) no-repeat 0 0;}
.js_list,.js_list2{ background:url(/assets/index_happy.png) no-repeat;}
.js_list{ background-position:0 -68px; clear:both; height:88px; width:825px; margin:84px auto 0;}
.js_list2{background-position:0 -176px;height:74px; width:739px; margin:20px auto 0;}
.js_rng{ margin-left:130px; margin-bottom:40px; color:#292929;}
.js_rng p{ line-height:22px; margin:0; padding:0;}

.subit{ 
  border:none; 
  width:138px; 
  height:57px;
  font-size: 26px;
}
.subit:hover{ cursor:pointer;}
.input_search_txt{
  height:40px; 
  border:1px; 
  padding:6px; 
  text-valign: middle;
  font-weight:600; 
  float:left; 
  font-size:26px; 
  color:#444444; 
}

#addr_form{ margin-left:130px;}
.bg_list{ background:url(/assets/index_happy.png) repeat-x 0 -370px; height:54px; line-height:54px; margin-top:60px;}
.wodow{background:url(/assets/index_happy.png) no-repeat 0 -440px; width:211px; margin:0 auto; text-indent:-999em;}
.wodow a{ display:block; width:211px; height:54px;}
.bcpic2{ background:url(/assets/index_happy.png) no-repeat 0 -512px; width:823px; height:226px; margin:0 auto;}
#div_liucheng{display: none;}

/* shop index*/
.shop_logo{ width: 140px;}
.header2{ overflow:hidden;  width:960px; margin:0 auto;}
.logo{ float:left;}
.logo a{ 

}
#tabs{ float:left;}
.tabbed_navigation li{ float:left; margin: 10px 8px;}
.tabbed_navigation{ padding:8px 0; margin: 20px 0 0 62px;}
.menu{
   padding: 0 0 4px 0 !important;
   padding: 10px;
 }
.currt{ background:url(/assets/ico-happy.png) no-repeat 0 -86px; width:63px; color:#FFF; height:26px; line-height:26px; text-align:center;}
.currt a{ color:#FFF; text-decoration:none;}
.qutn{ border: 1px solid #A7A7A7; background:#FFF; height:28px; line-height:28px; padding: 0 4px;}
.qutn a{ text-decoration:none; color:#090;}
.utility_nav{ float:right;}
.help{ float:right; padding-top:8px;}
.help a{ color:#6D6D6D; text-decoration:none;}

.cotnet{}
.pic img{ width:135px; height:115px; float:left;}
.shop_addr_panel{ float:left; margin-left:20px; width:504px; position:relative;}

#pagination_ajax_title {
  font-size: 14px;
  font-weight: bold;
  color: #F00;
  text-decoration: none;
}
#shop_addresses li{ overflow:hidden; }
#shop_addresses .pagination a{
  display: none;
}
#shop_addresses .pagination span{
  display: none;
}
.pic{ float:left; width:135px;}
.shop_title{ margin-bottom:8px;}
.shop_title a{ 
  text-decoration:none;
  font-size:14px; 
  font-weight:bold;}
.shop_title a:hover{ text-decoration:underline;}
.shop_item{padding:12px;}
.wanmh{ background:url(/assets/ico-happy.png) no-repeat 0 -146px;height:18px; padding-left:20px; margin-top:8px;}
.shou_ca{ position:absolute; right:0; top:0; }
.shou_ca a{background:url(/assets/ico-happy.png) no-repeat 0 -47px; display:block; width:36px; height:35px; text-indent:-999em;}
.list_00{ overflow:hidden; height:160px;}
.meun0{}
.shop_dish_panel_menu{ border-bottom:1px dotted #999; padding-bottom:4px; height:22px;}
.shop_dish_panel_menu a{color: #f00; font-weight: bold;}
.ico_me{ background:url(/assets/ico-happy.png) no-repeat 0 -232px; height:18px; padding-left:15px; text-align:left; display:inline-block; float:left;}
.shop_dish_panel{ margin-top:20px;}
#shop_dish_list li{ line-height:22px; border-bottom:1px dotted #B5B7B7;}
.shop_dish_panel2{display: none;}
.shop_dish_panel2 ul{margin: 0px; padding: 0px;}
.shop_dish_panel2 li{line-height:28px; height:28px; border-bottom:1px dotted #B5B7B7; margin:8px 0; overflow:hidden; clear:both;}
.din1,.din2,.din3{ float:left;}
.din1{ width:25px; text-align:center; font-weight:bold; background:#7CC130; color:#FFF;}
.din2{ margin-left:15px;}
.din3{ background:url(/assets/ico-happy.png) no-repeat 0 -118px; width:27px; height:24px; line-height:24px; margin-left:60px;}
.sale{ float:right; padding-right:4px;}
.curt{ background:#ffcc00;}
.normal{ background:#E4E4E4;}
.normal a{color: green; font-size: 110%; display: block;}
.dish_notice{color: #F00; margin: 0 0 0 20px;}

.p_fen0{ background:url(/assets/ico-happy.png) no-repeat;}
.p_fen0{ background-position:0 -395px; width:84px; height:16px; display:inline-block; vertical-align:middle;}
.shop{ padding:6px 10px 12px; border-bottom:1px solid #6CB122; }
.shop h3{ color: green; padding: 0px; margin: 0px;}
.shop p{ margin: 2px 0; padding: 2px 0;}
.shop_description{ color: #999;}
.line{ border-top:1px solid #8ED244; padding-top:15px;}
.shop .discount{
  color: green;
  border: 1px solid #0c0;
}
.shop .hot{
  color: green;
  border: 1px solid #0c0;
}
.shop .shop_note{
  color: green;
}
.shop_right_status{
  float: right;
  border: 1px solid #FC9;
  padding: 2px 4px;
  margin:  2px;
  display: block;
  background: #fff8f8;
  text-align: center;
}
.take_out_status{
  color: #f00;
  font-weight: 600;
  background: #fff8f8;
}
/**********/
#cart_list li{ border-bottom:1px dotted #fff; overflow:hidden; padding-bottom:4px;}
#cart_list h3{margin: 10px 0; color: red; font-weight: 600; }
#cart_list_button_panel{margin: 20px 10px;}
/**********/

.menn_00{ float:left;}
.mennn_11{ float:right;}
.mxn_kj{ margin-left:10px;}
.carlst{ margin-top:15px;}
.carlst li{ float:left; margin:4px 2px; background:url(/assets/ico-happy.png) no-repeat 0 -263px; width:79px; height:29px; text-align:center; line-height:29px;}
.titl-00{background:url(/assets/ico-happy.png) repeat-x 0 -418px; height:36px; line-height:36px; color:#FFF; font-weight:bold; margin-top:15px;}
.titl-00 span{ display:block;}
.leftmn{ float:left; padding-left:4px;}
.rightmn{ float:right; padding-right:4px;}
.jsmn{ margin:4px 0;}
.piclist{ text-align:center;}
.menupic{ border-top:1px solid #EDEDED;}
.meun0{padding-bottom:10px;}
.tips{ clear:both; margin-bottom:6px;}
.has_out_food{color: #F00; font-weight: 600; margin: 0px;}
.no_out_food{color: #090;}
.button_del{
	background-color: #ffcc00;
	padding: 1px 6px;
	color: #000;
	font-weight: 600;
  font-size: 14px;
}

/*******page *******/
.page_content{
  
}
/*******order*****************/
.order_show{
  margin: 20px 0 20px 40px;
}
.order_detail{
  width: 100%;
  border: none;
}
.order_list{}
.order_list li{
  margin: 4px 10px;
  padding: 4px;
}
.order_form .field{
  margin: 20px 0;
}
.order_form .field label{
  font-size: 14px;
  font-weight: 600;
}
.icon {
  float: left;
  margin-right: 5px;
  width: 46px;
  height: 46px;
  background: url(/assets/elements.png) -248px -100px;
}
.title{
  margin: 0 auto 18px auto;
  line-height: 30px;
  font-size: 24px;
  color: #6C6;
}
.title{ font-size:22px; color:#7CC130; padding:20px 0; margin-left:10px; font-weight:bold;}
.successtips {
  text-align: center;
  line-height: 24px;
  font-size: 14px;
}
.btn_ck {
  display: block;
  width: 106px;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  color: 
  white!important;
  text-align: center;
  background: url(/assets/elements.png) -116px -380px;
  cursor: pointer;
}
.action{
  padding: 20px;
}
.back {
  float: left;
  height: 37px;
  line-height: 37px;
  font-size: 14px;
}
.successtips em {
  color: 
  #F90;
  font-size: 18px;
  font-weight: bold;
}

/*********news******************/
.news_title{
  margin: 0;
  padding: 0;
}
.news_title a{
  color: #090;
  text-decoration: none;
}
.news_title a:hover{
  color: #F00;
  text-decoration: underline;
}