/*
|--------------------------------------------------------------------------
| UItoTop jQuery Plugin 1.2
| http://www.mattvarone.com/web-design/uitotop-jquery-plugin/
| Demo: http://lab.mattvarone.com/projects/jquery/totop/
|--------------------------------------------------------------------------
*/

#toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:20px;
	right:20px;
	overflow:hidden;
	width:71px;
	height:71px;
	border:none;
	text-indent:100%;
	background:url(/assets/top.gif) no-repeat left top;
}

#toTopHover {
	background:url(/assets/top.gif) no-repeat left -81px;
	width:71px;
	height:71px;
	display:block;
	overflow:hidden;
	float:left;
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
}

#toTop:active, #toTop:focus {
	outline:none;
}