// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#token-input-shop_address_tokens{
  width: 400px;
}

.search_container{
  margin: 20px auto;
  text-align: center;
  width: 800px;
  background: #ffddcc;
}

.happy_shop{
  font-size: 80%;
  color: red;
}