<%# See AJAX tutors: http://bjhess.com/blog/fading-flash-message/ %>
<div class="flashes">
	<% if flash[:error] or flash[:notice] %>
		<div id="notice" class="flash flash_<%= flash[:error] ? 'error' : 'notice'%>">
		  <%= flash[:error] || flash[:notice] %>
		</div>

		<script type="text/javascript">
		  setTimeout( $('#notice').fadeOut(5000), 55000)
      //$('#notice').fadeIn(50000).fadeOut(1000);
		</script>
	<% end %>
</div>