<!-- footer -->
<div id="footer">
  <div class="container">
    成都红宝石信息技术有限公司版权所有 <br/>
    <a href="http://www.miibeian.gov.cn/" target="_blank">蜀ICP备11016427号</a><br/>
    &copy;2012-2015 <br/>
    <%=image_tag 'ico-1.gif' %>
  </div>
</div>