<!-- footer -->
<div id="footer">
  <div class="container">
    <a href="http://www.miibeian.gov.cn/" target="_blank">蜀ICP备11016427号</a><br/>
    &copy;2012-2015 Happy.cd<br/>
    <%=image_tag 'ico-1.gif' %>
  </div>
</div>