<!-- footer -->
<div id="footer">
    <a href="/pages/help">网上订餐帮助</a> &nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="/pages/about">关于我们</a> &nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="/contacts/new?t=contact">联系我们</a> &nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="/contacts/new?t=join">餐厅加盟</a> &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="http://www.miibeian.gov.cn/" target="_blank">蜀ICP备11016427号</a> &nbsp;&nbsp;
    Copyright &copy; 2012 Happy.cd 保留所有权利。<img src="/assets/ico-1.gif" height="20px" valign="bottom"/>
</div>