<!-- header -->
<div id="header">
  <div class="container">
<!-- .logo -->
    <div class="logo">
      <a href="/"><img src="/assets/logo.gif"/></a>
    </div>
<!-- /.logo -->
    
    <form action="/search" id="search-form">
      <fieldset>
        你现在所在的位置：<%=cookies[:addr] %>, <%=link_to '更换', new_address_path %>
      </fieldset>
    </form>
<!-- .nav -->

<!-- /.nav -->

  </div>
</div>