<div id="header_wrapper">

  <div class="menu">
    <div class="header2">
      <div class="logo"><a href="#" title="乐活.成都，外卖"><%= image_tag asset_path("logo.png"), :title =>'乐活.成都' %></a></div>
      <ul class="tabbed_navigation" id="tabs">
        <li class="currt"><a href="/">首页</a></li>
        <li class="currt"><a href="/g">切换位置</a></li>
      </ul>
      <div class="help" style="float:right;"><a id="help" href="/help">使用帮助</a></div>
    </div>
  </div>
</div>