<div id="title_bar">
  ads
</div>

<div id="title_bar">
  <div id="titlebar_left">
    <span class="breadcrumb">
      <a href="http://localhost:3000/admin">Admin</a>           
      <span class="breadcrumb_sep">/</span>
    </span>
    <h2 id="page_title">联系我们</h2>
  </div>

  <div id="titlebar_right">
    <div class="action_items">
      <span class="action_item"><a href="http://localhost:3000/admin/contacts/new">新建联系我们</a></span>
    </div>
  </div>

</div>